header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 7;

    height: 60px;
    padding: 0 8%;
    color: white;
    background: black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 1px 5px 0 rgb(69, 69, 69);

    a {
        color: white;
        font-size: large;
        text-decoration: none;
    }

    a:after,
    a:before {
        backface-visibility: hidden;
        border: 1px solid rgba(#fff, 0);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
    }

    a:hover:after,
    a:hover:before {
        backface-visibility: hidden;
        border-color: #fff;
        transition: width 350ms ease-in-out;
        width: 100%;
    }

    a:hover:before {
        border-color: black;
    }
}

@media screen and (max-width: 1124px) {
    header {
        padding: 0 10px;
    }
}

@media screen and (max-width: 970px) {
    header {
        height: 80px;

        nav {
            padding: 0 50px;
        }
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.search {
    position: relative;
    width: 400px;
    display: flex;
    align-items: center;

    img {
        margin: 5px;
    }

    input {
        width: 100%;
        margin: 0;
        padding: 10px;
        font-size: 16px;
        border: 0;
        box-sizing: border-box;
        outline: none;
    }
}

.cart {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px;
    // height: 30px;
    min-height: 30px;
    max-height: 40px;
    box-shadow: 0 0 0 0 black;
    transition: all 0.3s ease;

    p {
        margin: 0;
        padding: 0 3px;
        font-size: 18px;
    }

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 0 4px white;
    }

    img {
        height: 28px;
        margin-right: 4px;
        margin-left: 1px;
    }

    div {
        left: 20px;
        bottom: 20px;
        position: absolute;
        width: 17px;
        height: 17px;
        background-color: #FFE6C7;
        border-radius: 50%;

        p {
            color: black;
            padding: 0;
            font-size: 15px;
            font-weight: 600;
        }
    }
}

.helpSearch {
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 8;
    padding: 5px;
    min-width: 125px;
    font-weight: 500;

    p {
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        cursor: pointer;
        font-size: 17px;
        padding: 7px;
        margin: 0 0 8px;
        transition: all 0.3s ease;

        &:hover {
            transform: translateX(10px);
        }
    }
}

.searchClear {
    position: absolute;
    cursor: pointer;
    color: black;
    right: 12px;
    font-size: large;
    background-color: white;
}