body {
  min-width: 680px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 60px 10% 10px 10%;
  overflow: hidden;
  min-height: calc(100vh - 130px);
}

@media screen and (max-width: 1124px) {
  .container {
    padding: 60px 10px 10px 10px;
  }
}

@media screen and (max-width: 970px) {
  .container {
    padding-top: 80px;
  }
}

.d-flex {
  display: flex;
  align-items: center;
}

.disFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 10px 0 5px 0;
}

footer {
  background-color: black;
  height: 60px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;

  ul {
    align-items: center;
    display: flex;

    img {
      padding-top: 5px;
      height: 25px;
    }
  }

  a {
    color: white;
    font-size: large;
    text-decoration: none;
  }

  a:after,
  a:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
  }

  a:hover:after,
  a:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 100%;
  }

  a:hover:before {
    border-color: black;
  }
}

@media screen and (max-width: 970px) {
  footer {
    padding: 0 10px;
  }
}

.emptyCart {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.delivery,
.about {
  h2 {
    text-align: left;
  }

  p {
    font-size: 18px;
  }

  a {
    color: black;
    font-size: 19px;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    height: 18px;
    filter: brightness(0%);
  }
}

.contactUs {
  display: flex;
  flex-direction: column;
  justify-content: center;

  textarea,
  input {
    margin: 5px 10px;
    width: 97%;
  }

  button {
    font-size: 22px;
    margin: 10px;
    height: 50px;
    width: 300px;
    box-shadow: inset 0 0 0 4px white;

    &:hover {
      transform: scale(1.01);
      color: black;
      box-shadow: inset 0 0 0 25px white;
    }
  }
}

.Filters {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 5px 0;
  margin: 0 8%;

  li {
    font-weight: 500;
    padding: 7px 10px;
    margin: 0 5px;
    cursor: pointer;
    user-select: none;
  }

  .sortItems li {
    background: black;
    color: #fff;
    transition: all 300ms ease-in-out;

    &:hover {
      color: #FFE6C7;
      transform: scale(1.05);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
    }
  }

  .filterItems li {
    border-radius: 15px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in-out;

    &:hover {
      color: #d59036;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
    }
  }
}

@media screen and (max-width: 1124px) {
  .Filters {
    margin: 0;
  }
}